@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 6rem); /* Adjust based on header/footer height */
  background-color: #f5f6f6;
}